body{
	background-image: url("marble.jpg");
}
footer {
	background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; 
    min-height: 200px;
}
@media (max-width: 600px) {
.carousel-caption {
    display: none; 
	}
}
.bg-image {
  /* The image used */
  background-image: url("marble.jpg");

  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text { /* Fallback color */
  background-color: white; /* Black w/opacity/see-through */
  color: #DAA520;
  font-weight: bold;
  border: solid;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  text-align: center;
}
header{
	width: 100%;
	 height: 550px;
}
.col-sm-4{
	margin-top: 5%;
	border-left: 6px solid white;
	margin-left: 6%;
	color:#DAA520;
}
.col-sm-7{
	margin-top: 1%;
	text-align: center;
}
.GIPfoto{
	width: 70%;
	height: 30%;
}
.introfoto{
	border-radius: 50%;
	width: 300px;
	height: 300px;
	margin-bottom: 1%;
}
.intro{
	background-color: black;
}
/*kaartjes voorstellen begint hier*/
/*  3 columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-left: 5%;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;} 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: black;
  color: #DAA520;
}
/* kaartjes voorstellen eindigt hier*/

/*contact stuk begint hier*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact {
  border-radius: 5px;
  background-color: black;
  color: #DAA520;
  padding: 20px;
}

#contact {
	text-align: center;
}
/*contact stuk eindigt hier*/

/*hier begint de tijdlijn*/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 10%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 25%;
}

/* cirkels*/
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #DAA520;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 50%;
}


/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: black;
  position: relative;
  border-radius: 6px;
  color:#DAA520;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* tijdlijn naar links verplaatsen */
  .timeline::after {
    left: 31px;
  }

/* de breedte */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* ervoor zorgen dat alle pijltjes juist staan */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/* hier eindigt de tijdlijn */

#project{
	background-color: black;
	color:#DAA520;
}

/* stage pagina */
.h1{
	text-align: center;
	border-bottom: solid;
	border-top: solid;
}
#intentie{
	background-color: white;
	color: black;
}
#motivatie{
	background-color: black;
	color: white;
}
#CV{
	background-color: black;
	color: white;
}

/*userstories*/

table {
  width:80%;
  margin-left: 10%;
  margin-bottom: 1%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: white;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#th1 {
  background-color: black;
  color: white;
  text-align: center;
}